@use '../../styles/GeneralStyles.scss' as *;

.transfer-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 232px;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 $shadow;

  @media (max-width: 768px) {
    width: 100%;
    max-width: 502px;
  }
}

.transfer-form__title {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px 20px 10px 20px;
}

.transfer-form__list {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.transfer-form__item {
  list-style-type: none;
  font-size: 13px;
  font-weight: 400;
}

.transfer-form__item:hover {
  background-color: #f1fcff;
}

.transfer-form__item label {
  display: block;
  position: relative;
  padding: 10px 20px 10px 50px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.transfer-form__item input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create the custom checkbox box */
.transfer-form__item label::before {
  content: '';
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border: 1px solid #9abbce;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out;
}

/* Change border color when hovered */
.transfer-form__item label:hover::before {
  border-color: #2196f3;
}

/* Change border color when checked */
.transfer-form__item input:checked + label::before {
  border-color: #2196f3;
}

/* Create the checkmark/indicator */
.transfer-form__item label::after {
  content: '';
  position: absolute;
  display: none;
  left: 27px;
  top: 50%;
  width: 5px;
  height: 10px;
  border: solid #2196f3;
  border-width: 0 2px 2px 0;
  transform: translateY(-60%) rotate(45deg);
}

/* Show the checkmark when checked */
.transfer-form__item input:checked + label::after {
  display: block;
}
