@use '../../styles/GeneralStyles.scss' as *;

.myButton {
  height: 50px;
  background: $white;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;

  &:disabled {
    background: $btn-text;
    cursor: not-allowed;
  }
}
